
* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  body{
    background: #FBF8F6;
  }
  
  .banner-container {
    flex-direction: column;
    width: 100%; 
    height: 270px;
    position: relative;
    background-color: #B31312;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .blob1{
    width: 35%; 
    bottom: 0px; 
    left: 0px;
  }
  
  .blob2{
    width: 20%; 
    top: 0px; 
    right: 0px;
  }
  
  .imgmain {
    position: absolute;
    margin: 0px;
    width: 100%;
    align-items: center;
    object-fit: cover;
  }
  .bannerblob{
    z-index: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .banner-img{
    margin-top: -7rem;
    margin-left: -1rem;
    margin-right: 1rem;
    width: 50vw; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0; 
    left: 0; 
  }
  
  .blob {
    position: absolute;
    border-radius: 0%;
    z-index: 1;
  }
  
  .blob.bottom-left {
    width: 10rem;
    height: 2rem;
    border-radius: 68% 32% 100% 0% / 28% 100% 0% 72%;
    bottom: 0;
    left: 0;
  }
  
  /* Sidebar */
  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border: #EEE6E0 1px solid;
    background-color: #F3EBE5;
    
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  
    width: 60px;
    padding: 15px;
  }
  .logo{
    width: 100%;
  }
  .navbutton-set{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .navbutton, .darkbutton{
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 100%;
    aspect-ratio: 1;
    width: 100%;
    text-decoration: none;
  }
  .navbutton i, .darkbutton i {
    display: flex;
    align-items: center;
    font-size: 27px;
  }
  .nav-active{
    background-color: #FBF8F6;
    color: #2b2a4c;
    border: #EEE6E0 1px solid;
  }
  .nav-static{
    background-color: #FBF8F6;
    color: #2b2a4c;
    border: #EEE6E0 1px solid;
  }
  
  .captions h1{
    position: absolute;
    z-index: 1;
    color: #FBF8F6;
    bottom: 20px;
    left: 20px;
    font-size: 48px;
    line-height: 50px;
    margin: 0px;
  }
  
  /* Main Page */
  .page{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 30px;
    
    top: 20px;
    left: 150px;
    right: 35px;
    height: fit-content;
  }
  
  
  
  /* Hover */
  .navbutton:hover, .button-tag:hover, .footbutton:hover, .darkbutton:hover, .next:active, .prev:active, .view:hover{
    transition-duration: 200ms;
    background-color: #D6CFEE;
    border: #C3B8E7 1px solid;
  }
  .navbutton::after {
    transition-duration: 200ms;
    border: #EEE6E0 1px solid;
    background-color: #FBF8F6;
  }
  .navbutton:active, .view:active {
    transition-duration: 200ms;
    background-color: #2B2A4C;
    border: #EEE6E0 1px solid;
    color: #FBF8F6;
  }
  
  /* Container */
.container {
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: #F3EBE5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.darkbutton i {
  display: flex;
  align-items: center;
  font-size: 35px;
}
/* Content Styling */
.content {
    padding: 10px;
    width: 60%;
    overflow-y: auto;
    margin-top: -10px;
}

h1 {
    text-align: left;
    font-size: 35px;
    margin-top: -5px;
    margin-bottom: -15px; /* Reduces gap below the heading */
    line-height: 1.2; 
}

.highlight {
    color: Black;
    margin-top: 0; /* Removes extra gap above the highlighted text */
    padding: 0;
    font-size: 64px;
}

.description {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    color: black;
}

.description i {
    font-style: italic;
}

h2 {
    text-align: left;
    font-size: 14px;
    color: black;
    font-style: italic;
}

h3 {
    font-size: 14px;
    color: black;
}

ol {
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}

ol li {
    font-size: 14px;
}

/* Image Section */
.image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 584px;
    height: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image fills the area without distortion */
    border-radius: 15px;
}
  
  /* Footer */

.footer {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(45deg, #2B2A4C, #5D5BAE);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Logo and text adjustments */
  .logo-desc{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: fit-content;
    width: 300px;
    gap: 10px;
    top: 20px;
    left: 20px;
  }
  .community-logo {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 210px;
  
  }
  
  .community-logo h4 {
    color: #FBF8F6;
    margin: 0px;
    line-height: 19px;
  }
  
  .logo-desc p, .copyright {
    font-size: 11px;
    color: #F3EBE5;
    margin: 0px;
  }
  
  /* Right links as a column */
  .right-link-container {
    display: flex;
    flex-direction: r17; /* Stack link sections vertically */
    align-items: flex-start; /* Align items to the left */
    position: absolute;
    right: 20px; /* Position container to the right */
    top: 20px; /* Position container from top */
    gap: 17px; /* Add space between each link group */
  }
  
  .right-link {
    position: relative;
    float: inline-start;
    text-align: left; /* Align text to the left */
  }
  
  .right-link h4 {
    text-align: left;
    margin: 0 0 0px;
    color: #FBF8F6;
  }
  
  .right-link a,
  .right-link ul li a {
    text-align: start;
    text-decoration: none;
    color: #FBF8F6;
    font-size: 12px;
    margin: 0px;
  }
  
  .right-link ul {
    text-align: start;
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
  }
  .right-link ul li :hover{
    color: #C3B8E7;
  }
  
  /* Icons positioned horizontally at the bottom-right */
  .icons {
    color: #2B2A4C;
    position: absolute;
    height: 40px;
    right: 20px; /* Position to the right */
    bottom: 20px; /* Position at the bottom */
    display: flex; /* Arrange buttons in a row */
    gap: 10px; /* Space between buttons */
  }
  .footbutton{
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: #EEE6E0 1px solid;
    border-radius: 100%;
    background-color: #FBF8F6;
    aspect-ratio: 1;
    width: 100%;
    color: #2b2a4c;
    text-decoration: none;
  }
  .footbutton i{
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  .icon i{
    color: #2B2A4C;
  }
  
  /* Copyright Section */
  .copyright {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
  }
  
  .copyright p {
    color: #FBF8F6;
    margin: 0px;
  }
  
  @media (max-width: 425px) {
    .title-text {
        margin: 0px;
        font-weight: 600;
        font-size: 35px;
        color: #2B2A4C;
        line-height: 30px;
        padding-bottom: 10px;
    }
    .header-text{
        margin: 0px;
        font-weight: 600;
        font-size: 6vw;
        line-height: 6vw;
    }
    .body-text {
        margin: 0px;
        font-weight: 500;
        font-size: 14px;
    }
    .munici {
        margin: 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }
    .detail-text {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
    }
    .card-text {
        position: absolute;
        bottom: 15px; /* Distance from the bottom */
        left: 20px; /* Distance from the left */    
        font-weight: 600;
        margin: 0%;
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: #FBF8F6;
    }
    .slide-text {
        margin: 0px;
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        color: #FBF8F6;
        bottom: 20px;
        left: 20px;
        position: absolute; /* Positions relative to the parent `.census` */
    }
    .date-text{
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: right;
        font-size: 15px;
    }
    
    .container {
        padding: 10px;
    }

    .content {
        padding: 0;
    }

    .highlight {
        font-size: 36px;
    }

    h1 {
        font-size: 24px;
    }

    .description, h2, h3, ol li {
        font-size: 10px;
    }

    .image {
        margin-top: 10px;
    }

    .image img {
        width: 100%;
        height: auto; /* Ensures proper scaling */
        border-radius: 4px;
    }
    
    
    
    /* Sidebar */
    .sidebar{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        border-radius: 15px;
        border: #EEE6E0 1px solid;
        background-color: #F3EBE5;
        
        position: fixed;
        top: unset;
        left: 10px;
        right: 10px;
        bottom: 10px;
    
        height: 40px;
        width: unset;
        padding: 15px 0;
        z-index: 3;
        filter: drop-shadow(0px 0px 7px rgba(182, 162, 142, 0.5));
    }
    .logo{
        display: none;
        width: 100%;
    }
    .navbutton-set{
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .navbutton, .darkbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
  
        aspect-ratio: 1;
        width: calc(20% - 20px);
        max-height: 40px;
        color: #2b2a4c;
        text-decoration: none;
  
        flex-basis: 40px; /* Ensure a consistent size */
        flex-shrink: 0;
    }
    .navbutton i, .darkbutton i {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .darkbutton{
        display: none;
    }
    .nav-active{
        background-color: #2b2a4c;
        color: #FBF8F6;
        border: #353460 1px solid;
    }
    .nav-static{
        background-color: unset;
        color: #2b2a4c;
        border: unset;
    }
    
    
    
    
    /* Main Page */
    .page{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 30px;
        
        top: 0px;
        left: 10px;
        right: 10px;
        height: fit-content;
    }
    
    
    
    /* Footer */
  
  .footer {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(45deg, #2B2A4C, #5D5BAE);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 95px;
}    
/* Right links as a column */
.right-link-container {
    display: none;
}

/* Icons positioned horizontally at the bottom-right */
.icons {
    display: none;
}
.news-boxes{
    display: flex;
    flex-direction: column;
    padding: unset;
}
.banner-container{
    margin-top: 10px;
}
}

  
  
  @media (min-width: 421px) and (max-width: 768px) {
    .title-text {
        margin: 0px;
        font-weight: 600;
        font-size: 35px;
        color: #2B2A4C;
        line-height: 30px;
        padding-bottom: 10px;
    }
    .header-text{
        margin: 0px;
        font-weight: 600;
        font-size: 3vw;
    }
    .body-text {
        margin: 0px;
        font-weight: 500;
        font-size: 14px;
    }
    .munici {
        margin: 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }
    .detail-text {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
    }
    .card-text {
        position: absolute;
        bottom: 15px; /* Distance from the bottom */
        left: 20px; /* Distance from the left */    
        font-weight: 600;
        margin: 0%;
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: #FBF8F6;
    }
    .slide-text {
        margin: 0px;
        font-weight: 600;
        font-size: 30px;
        color: #FBF8F6;
        line-height: 30px;
        bottom: 20px;
        left: 20px;
        position: absolute; /* Positions relative to the parent `.census` */
    }
    .date-text{
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: right;
        font-size: 15px;
    }
    .news-boxes{
        display: flex;
        flex-direction: column;
        padding: unset;
    }
    .banner-container{
        margin-top: 10px;
    }
    
    .blob1{
      width: 35%; 
      bottom: 0px; 
      left: 0px;
    }
    
    .blob2{
      width: 20%; 
      top: 0px; 
      right: 0px;
    }
  
    .stepss h1{
      font-size: 35px;
    }
    
    /* Sidebar */
    .sidebar{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        border-radius: 15px;
        border: #EEE6E0 1px solid;
        background-color: #F3EBE5;
        
        position: fixed;
        top: unset;
        left: 10px;
        right: 10px;
        bottom: 10px;
    
        height: 40px;
        width: unset;
        padding: 15px 0;
        z-index: 3;
        filter: drop-shadow(0px 0px 7px rgba(182, 162, 142, 0.5));
    }
    .logo{
        display: none;
        width: 100%;
    }
    .navbutton-set{
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .navbutton, .darkbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
  
        aspect-ratio: 1;
        width: calc(20% - 20px);
        max-height: 40px;
        color: #2b2a4c;
        text-decoration: none;
  
        flex-basis: 40px; /* Ensure a consistent size */
        flex-shrink: 0;
    }
    .navbutton i, .darkbutton i {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .darkbutton{
        display: none;
    }
    .nav-active{
        background-color: #2b2a4c;
        color: #FBF8F6;
        border: #353460 1px solid;
    }
    .nav-static{
        background-color: unset;
        color: #2b2a4c;
        border: unset;
    }
    
    
    
    
    
    /* Main Page */
    .page{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 30px;
        
        top: 0px;
        left: 10px;
        right: 10px;
        height: fit-content;
    }
    
    /*contaner*/
    .container {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .image {
        width: 100%;
        margin-top: 20px;
    }

    .image img {
        width: 100%;
        height: auto; /* Adjusts for smaller screens */
        border-radius: 8px;
    }

    .highlight {
        font-size: 48px;
    }

    h1 {
        font-size: 28px;
    }

    .description, h2, h3, ol li {
        font-size: 12px;
    }


    /* Footer */
  
  .footer {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(45deg, #2B2A4C, #5D5BAE);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 95px;
}    
/* Right links as a column */
.right-link-container {
    display: none;
}

/* Icons positioned horizontally at the bottom-right */
.icons {
    display: none;
}
}   

    
    
  