
* {
    padding: 5px;
    margin-top: 0px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #2B2A4C;
    box-sizing: border-box; 
}
.body{
    width: 100%;
}

.body-container {
    width: 100%;
    margin: 0 auto;
    background-color: #FBF8F6;
}
    /* navbar here */
.nav-sidebar {
    display: flex;
    position: fixed;
    background-color: #F3EBE5;
    width: 70px; 
    height: 97.2vh;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.image-logo img {
    margin-bottom: 150px;
    width: 100%; 
    height: auto;
    overflow: hidden;
}

.image-logo1 img {
    margin-top: 137px;
    width: 100%; 
    height: auto;
    overflow: hidden;
}

.nav-container {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.nav-container:hover {
    text-decoration: none;
    background-color: #C3B8E7;
    transform: scale(1.1);
}

.nav-container.link{
    text-decoration: none;
    color: inherit;
}

.nav-container.link:hover{
    text-decoration: none;
}

.fi{
    font-size: 23px;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    float: right;
}

/* part of nav bar here */

.pin-text {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2B2A4C;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1vw;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

.nav-container:hover .pin-text {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(10px);
}

/* banner here */

.top-banner-container {
    flex-direction: column;
    width: 99%; 
    height: 275px;
    position: relative;
    background-color: #EE622A;
    top: -5px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-img{
    margin-top: -7rem;
    margin-left: -1rem;
    margin-right: 1rem;
    width: 50vw; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0; 
    left: 0; 
}

.head-text{
    color: #FBF8F6;
    position: absolute;
    text-overflow: visible;
    font-size: 50px;
    z-index: 2;
    margin-top: -13px;
    left: 0;
    font-weight: 700;
}

.head-text-bottom{
    color: #FBF8F6;
    position: absolute;
    z-index: 1;
    left: 0;
    font-size: 50px;
    font-weight: 700;
    margin-top: 2.3rem;
    white-space: nowrap;
}

.blob {
    position: absolute;
    border-radius: 0%;
    z-index: 1;
}

.blob.top-right {
    width: 10rem;
    height: 5rem;
    background: linear-gradient(45deg, #2B2A4C, #6562B2);
    border-radius: 100% 0% 78% 22% / 0% 68% 32% 100%;
    top: 0;
    right: 0;
} 

.blob.bottom-left {
    width: 24rem;
    height: 7rem;
    background: linear-gradient(45deg, #2B2A4C, #6562B2);
    border-radius: 68% 32% 100% 0% / 28% 100% 0% 80%;
    bottom: 0;
    left: 0;
}

/* middle body here */

.page{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 30px;
    
    top: 20px;
    left: 150px;
    right: 35px;
    height: fit-content;
}



/* Boxes */
.news-boxes {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
  }
  
  .news-box {
      width: 35%; 
      margin: 5px;
      margin-bottom: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color:#efe5dd;
    transition: transform 0.3s ease;
  }
  .news-box:hover {
    transform: translateY(-5px);
  }
  .news-box-content {
      display: flex;
      flex-direction: column;
      height: 100%; 
      padding: 0px;
      justify-content: space-between;
    }
  .news-img {
    width: 100%;
    height: 180px;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .news-box h3 {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left; 
  }
  
  .news-box p {
    padding: 0 10px 10px;
    text-align: left; 
    color: #777;
  }
  .news-date {
      font-size: 14px;
      color: #888;
      margin-top: auto; 
    }


/* Footer */

.footer {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(45deg, #2B2A4C, #5D5BAE);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Logo and text adjustments */
.logo-desc{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: fit-content;
    width: 300px;
    gap: 10px;
    top: 20px;
    left: 20px;
}
.community-logo {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 210px;

}

.community-logo h4 {
    color: #FBF8F6;
    margin: 0px;
    line-height: 19px;
}

.logo-desc p, .copyright {
    font-size: 11px;
    color: #F3EBE5;
    margin: 0px;
}

/* Right links as a column */
.right-link-container {
    display: flex;
    flex-direction: r17; /* Stack link sections vertically */
    align-items: flex-start; /* Align items to the left */
    position: absolute;
    right: 20px; /* Position container to the right */
    top: 20px; /* Position container from top */
    gap: 17px; /* Add space between each link group */
}

.right-link {
    position: relative;
    float: inline-start;
    text-align: left; /* Align text to the left */
}

.right-link h4 {
    text-align: left;
    margin: 0 0 0px;
    color: #FBF8F6;
}

.right-link a,
.right-link ul li a {
    text-align: start;
    text-decoration: none;
    color: #FBF8F6;
    font-size: 12px;
    margin: 0px;
}

.right-link ul {
    text-align: start;
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
}
.right-link ul li :hover{
    color: #C3B8E7;
}

/* Icons positioned horizontally at the bottom-right */
.icons {
    color: #2B2A4C;
    position: absolute;
    height: 40px;
    right: 20px; /* Position to the right */
    bottom: 20px; /* Position at the bottom */
    display: flex; /* Arrange buttons in a row */
    gap: 10px; /* Space between buttons */
}
.footbutton{
    display: flex;
    justify-content: center;
    align-items: center;

    border: #EEE6E0 1px solid;
    border-radius: 100%;
    background-color: #FBF8F6;
    aspect-ratio: 1;
    width: 100%;
    color: #2b2a4c;
    text-decoration: none;
}
.footbutton i{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.icon i{
    color: #2B2A4C;
}

/* Copyright Section */
.copyright {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

.copyright p {
    color: #FBF8F6;
    margin: 0px;
}


                                                       
/* Responsive Styles */

@media (max-width: 1440px) {
    .nav-sidebar {
        width: 70px;
        height: 97.2vh;
    }

    .nav-container {
        width: 50px;
        height: 50px;
    }

    .pin-text{
        left: 56px;
    }

    .card{
        width: 420px;
    }

    .fa {
        font-size: 16px;
    }

    .top-banner-container,
    .middle-container {
        width: calc(100% - 50px);
    }

    .middle-container{
        width: calc(100% - 80px);
    }

    .banner-img{
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        position: absolute; 
        top: 0; 
        left: 0; 
    }

    .blob.top-right {
        width: 8rem;
        height: 4rem;
    }

    .blob.bottom-left {
        width: 15rem;
        height: 5rem;
    }

    .head-text{
        margin-top: 0.1rem;
        font-size: 30px;
    }

    .head-text-bottom{
        margin-top: 1.59rem;
        font-size: 30px;
    }

}

@media (max-width: 1024px) {
    .nav-sidebar {
        width: 70px;
        height: 97.2vh;
    }

    .image-logo img {
        margin-bottom: 115px;
        width: 100%; 
        height: auto;
        overflow: hidden;
    }
    
    .image-logo1 img {
        margin-top: 115px;
        width: 100%; 
        height: auto;
        overflow: hidden;
    }

    .nav-container {
        width: 45px;
        height: 45px;
    }

    .pin-text{
        font-size: 1.5vw;
    }

    .fa {
        font-size: 16px;
    }

    .top-banner-container,
    .middle-container {
        width: calc(100% - 10px);
    }

    .top-banner-container{
        height: 225px;
    }

    .middle-container{
        width: calc(100% - 80px);
    }

    .banner-img{
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        position: absolute; 
        top: 0; 
        left: 0; 
    }

    .blob.top-right {
        width: 8rem;
        height: 4rem;
    }

    .blob.bottom-left {
        width: 15rem;
        height: 5rem;
    }

    /*boxes */
    .news-boxes {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-top: 10px;
      }
      
      .news-box {
          width: 35%; 
          margin: 5px;
          margin-bottom: 10px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color:#efe5dd;
      }
      .news-box:hover {
        transform: translateY(-5px);
      }
      .news-box-content {
          display: flex;
          flex-direction: column;
          height: 100%; 
          padding: 0px;
          justify-content: space-between;
        }
      .news-img {
        width: 100%;
        height: 180px;
        object-fit: cover; 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      
      .news-box h3 {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: left; 
      }
      
      .news-box p {
        padding: 0 10px 10px;
        text-align: left; 
        color: #777;
      }
      .news-date {
          font-size: 14px;
          color: #888;
          margin-top: auto; 
        }

    /*footer*/
    .footer{
        width: 89%;
    }
    
    .right-link{
        font-size: 13px;
    }

    .footer.community-logo h4{
        font-size: 14px;
    }

    .copyright{
        font-size: 12px;
    }

    .icon{
        width: 20px;
        font-size: 20px;
    }

    .btn-icon {
        width: 30px;
        height: 30px;
        display: flex;
        bottom: 0;
        justify-content: center;
        align-items: center;
        background-color: #FBF8F6;
        border-radius: 50%;
        text-decoration: none; /* Remove underline from link */
    }

    .btn-icon i {
        font-size: 15px; /* Adjust icon size */
        color: #000; /* Set icon color */
    }

    .footer { 
        margin-top: 20px;
        position: relative;
        width: 92.5%;
        height: 275px;
        border-radius: 15px;
        margin-left: 90px;
        background: linear-gradient(45deg, #2B2A4C, #5D5BAE);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    /* Logo and text adjustments */
    .text-content h4 {
        position: absolute;
        z-index: 1;
        margin-left: 100px;
        color: #FBF8F6;
        padding: 0;
        top: 25px;
        margin-bottom: 0;
    }
    
    .text-content p {
        font-size: 11px;
        color: #FBF8F6;
        margin-top: 10px;
    }
    
    /* Right links as a column */

    .footer{
        margin-left: 110px;
        width: 86%;
    }
    .right-link-container {
        display: grid; /* Use grid layout */
        grid-template-columns: repeat(4, 2fr); /* 4 equal-width columns */
        position: absolute;
        right: 5px; /* Position container to the right */
        top: 10px; /* Position container from top */
        align-items: start; /* Align items to the top */
    }
    
    .right-link {
        font-size: 15px;
        text-align: left; /* Align text to the left */
    }
    
    .right-link.about{
        width: fit-content;
        margin: 0;
    }
    
    .right-link h4 {
        font-size: 12px;
        margin: 0 0 10px;
        color: #FBF8F6;
    }
    
    .right-link ul {
        list-style: none; /* Remove bullets */
        padding: 0;
        margin: 0;
    }

    .right-link a{
        font-size: 9px;
    }
    
    .right-link ul li {
        font-size: 12px;
        margin-bottom: 5px; /* Space between list items */
    }
    
    .right-link ul li a {
        text-decoration: none;
        color: #FBF8F6;
    }
    
    .right-link ul li a:hover {
        color: #C3B8E7;
    }
    
    /* Icons positioned horizontally at the bottom-right */
    .icons {
        color: #2B2A4C;
        position: absolute;
        right: 20px; /* Position to the right */
        bottom: 20px; /* Position at the bottom */
        display: flex; /* Arrange buttons in a row */
        gap: 10px; /* Space between buttons */
    }
    
    .btn-icon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FBF8F6;
        border-radius: 50%;
        text-decoration: none; /* Remove underline from link */
    }
    
    .btn-icon:hover {
        background-color: #C3B8E7;
        transform: scale(1.1);
    }
    
    .btn-icon i {
        font-size: 15px; /* Adjust icon size */
        color: #000; /* Set icon color */
    }
    
    /* Copyright Section */
    .copyright {
        position: absolute;
        bottom: -10px;
        left: 10px;
    }
    
    .copyright p {
        color: #FBF8F6;
    }
}

@media (max-width: 768px) {
    .nav-sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Spread items across the width */
        align-items: center;
        padding: 0 10px; /* Add spacing around content */
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Add space between logos */
    }

    .image-logo{
        display: block; /* Ensure both logos are visible */
        width: 50px;
        height: 70px;
    }

    .image-logo1{
        margin-bottom: 6.5rem;
        margin-right: 5px;
        width: 60px; 
        overflow: hidden;
    }

    .nav-items {
        display: flex;
        gap: 20px; /* Add space between navigation containers */
    }

    .nav-container {
        float: inline-start;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .pin-text {
        left: 50%;
        top: -10px;
        transform: translate(-50%, -100%);
    }

    .nav-container:hover .pin-text {
        transform: translate(-50%, -120%);
    }
    .fa {
        font-size: 16px;
    }

    .top-banner-container{
        width: 700px;
        height: 200px;
    }

    .middle-container{
        margin: 0;
        width: 100%;
    }

    .official-card{
        width: 160px;
    }
    
    .message-container{
        width: 99%;
    }

    .position-ranking{
        width: fit-content;
        height: auto;
    }

    .position-ranking p{
        font-size: 12px;
    }

    .footer{
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    .right-link-container {
        display: grid; /* Use grid layout */
        grid-template-columns: repeat(4, .7fr); /* 4 equal-width columns */
        gap: 10px; /* Space between columns */
        position: absolute;
        right: 10px; /* Position container to the right */
        top: 10px; /* Position container from top */
        align-items: start; /* Align items to the top */
    }
    
    .right-link {
        font-size: 15px;
        text-align: left; /* Align text to the left */
    }
    
    .right-link.about{
        width: fit-content;
        margin: 0;
    }
    
    .right-link h4 {
        font-size: 14px;
        margin: 0 0 10px;
        color: #FBF8F6;
    }
    
    .right-link ul {
        list-style: none; /* Remove bullets */
        padding: 0;
        margin: 0;
    }
    
    .right-link ul li {
        margin-bottom: 5px; /* Space between list items */
    }
    
    .right-link ul li a {
        font-size: 9px;
        text-decoration: none;
        color: #FBF8F6;
    }
    
    .right-link ul li a:hover {
        color: #C3B8E7;
    }
    
    /* Icons positioned horizontally at the bottom-right */
    .icons {
        color: #2B2A4C;
        position: absolute;
        right: 10px; /* Position to the right */
        bottom: 10px; /* Position at the bottom */
        display: flex; /* Arrange buttons in a row */
        gap: 5px; /* Space between buttons */
    }
    
    .btn-icon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FBF8F6;
        border-radius: 50%;
        text-decoration: none; /* Remove underline from link */
    }
    
    .btn-icon:hover {
        background-color: #C3B8E7;
        transform: scale(1.1);
    }
    
    .btn-icon i {
        font-size: 15px; /* Adjust icon size */
        color: #000; /* Set icon color */
    }
    
    /* Copyright Section */
    .copyright {
        position: absolute;
        bottom: -10px;
        left: 10px;
    }
    
    .copyright p {
        color: #FBF8F6;
    }

}

@media (max-width: 425px) {
    
    
}



